body {
  height: 3000px; }

.subHd {
  display: inline-block;
  color: #6dadd5;
  text-shadow: 2px 2px 2px rgba(45, 45, 45, 0.6);
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #127cc0;
  padding: 1% 10% 1% 10%;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px #888888; }

.subTrans {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, from(rgba(45, 45, 45, 0.9), to(rgba(45, 45, 45, 0.6))));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%);
  /* IE 10 */
  background: -ms-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%);
  /* Opera 11.10+ */
  background: -o-radial-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.9) 80%); }

.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  right: 0;
  top: 0;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #f2c01b; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f2c01b;
  content: ""; }

.c-hamburger span::before {
  top: -14px; }

.c-hamburger span::after {
  bottom: -14px; }

.c-hamburger--rot {
  background-color: rgba(45, 45, 45, 0.9); }

.c-hamburger--rot span {
  transition: transform 0.3s; }

/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
  background-color: #127cc0; }

.c-hamburger--rot.is-active span {
  transform: rotate(90deg); }

/* The Overlay (background) */
.layover {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  display: none;
  position: absolute;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  right: 0;
  bottom: 0;
  padding: 4px 4px 3px 4px;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow: hidden;
  /* Disable horizontal scroll */
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.layover-content {
  position: relative;
  top: 10%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-transform: uppercase;
  font-weight: bold; }

/* The navigation links inside the overlay */
.layover a {
  text-decoration: none;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.layover a:hover, .layover a:focus {
  color: #f1f1f1; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .layover a {
    font-size: 20px; } }
.navLst {
  list-style: none;
  padding: 0;
  width: 292px;
  margin-bottom: 0px;
  margin-top: 0px; }
  .navLst li {
    background-color: rgba(192, 192, 192, 0.3);
    border-bottom: 1px dashed Black;
    margin-bottom: 1px;
    padding: 0; }
  .navLst h5 {
    display: inline-block; }

.overHead {
  text-transform: uppercase;
  color: #f2c01b;
  line-height: 1.7;
  border-left: 7px solid #f2c01b;
  margin: 15% 0 8% 0;
  padding: 2% 0 2% 4%;
  font-weight: bold; }

.overHeadSpan {
  text-transform: uppercase;
  color: #f2c01b;
  line-height: 2;
  margin: 0 3px 0 0;
  font-weight: bold;
  vertical-align: bottom; }

.transCon {
  position: fixed;
  width: 300px;
  height: 225px;
  background-color: #f2c01b;
  float: right;
  top: 5%;
  right: 5%; }

/*# sourceMappingURL=hamburger.css.map */
